component/work/schematic/schematic.v
component/work/schematic/schematic_manifest.txt
constraint/synthesis_sdc_errors.log
designer/schematic/
simulation/modelsim.ini.sav
synthesis/_CMD_COMPILER.CML
synthesis/_cmd._cml
synthesis/backup/
synthesis/dm/
synthesis/rpt_schematic.areasrr
synthesis/rpt_schematic_areasrr.htm
synthesis/run_options.txt
synthesis/schematic.fse
synthesis/schematic.htm
synthesis/schematic.map
synthesis/schematic.sap
synthesis/schematic.so
synthesis/schematic.srd
synthesis/schematic.srm
synthesis/schematic.srr
synthesis/schematic.srr.db
synthesis/schematic.srs
synthesis/schematic.vm
synthesis/schematic_cck.rpt
synthesis/schematic_cck.rpt.db
synthesis/schematic_multi_srs_gen.htm
synthesis/schematic_ram_rpt.txt
synthesis/schematic_scck.rpt
synthesis/schematic_scck.rpt.db
synthesis/schematic_syn.prj
synthesis/schematic_syn.tcl
synthesis/schematic_vm.sdc
synthesis/scratchproject.prs
synthesis/synlog.tcl
synthesis/synlog/
synthesis/synplify.log
synthesis/syntmp/
synthesis/synwork/
synthesis/version.log
tooldata/iot_contest.msg
tooldata/libero.3700
